/* You can add global styles to this file, and also import other style files */
*,
*:after,
*:before {
  box-sizing: border-box; }

body,
html {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.2; }

a {
  color: inherit;
  text-decoration: none; }

img {
  border-style: none; }

button,
[type='button'],
.button {
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  border-radius: 2em; }

.button.is-primary {
  background: rgba(129, 169, 96, 0.125);
  border-color: #81a960;
  font-weight: lighter;
  color: white; }
  .button.is-primary:focus, .button.is-primary:hover {
    box-shadow: 0 0.12rem 0.12rem 0 rgba(0, 0, 0, 0.125); }
.button.is-ghost {
  background: rgba(255, 255, 255, 0.125);
  border-color: white;
  font-weight: lighter;
  color: white; }
  .button.is-ghost:focus, .button.is-ghost:hover {
    box-shadow: 0 0.12rem 0.12rem 0 rgba(0, 0, 0, 0.125); }

.tile button,
.tile [type='button'],
.tile .button {
  left: 50%;
  transform: translateX(-50%); }

input,
select,
textarea {
  height: 2rem;
  padding-left: 0.5em;
  width: 100%; }
  input:focus,
  select:focus,
  textarea:focus {
    outline: none; }

textarea {
  resize: none; }

.column,
.row {
  display: flex;
  flex-wrap: wrap; }

.column {
  flex-direction: column; }

.row {
  flex-direction: row; }
  .row.is-reverse {
    flex-direction: row-reverse; }
  .row.tiles.bordered .tile {
    border: thin solid;
    margin: 0.075rem; }

.tile {
  flex: 1 1 0;
  display: block;
  padding: 0.75rem; }
  .tile.is-1 {
    flex: none;
    width: 8.33333%; }
  .tile.offset-is-1 {
    margin-left: 8.33333%; }
  .tile.is-2 {
    flex: none;
    width: 16.66667%; }
  .tile.offset-is-2 {
    margin-left: 16.66667%; }
  .tile.is-3 {
    flex: none;
    width: 25%; }
  .tile.offset-is-3 {
    margin-left: 25%; }
  .tile.is-4 {
    flex: none;
    width: 33.33333%; }
  .tile.offset-is-4 {
    margin-left: 33.33333%; }
  .tile.is-5 {
    flex: none;
    width: 41.66667%; }
  .tile.offset-is-5 {
    margin-left: 41.66667%; }
  .tile.is-6 {
    flex: none;
    width: 50%; }
  .tile.offset-is-6 {
    margin-left: 50%; }
  .tile.is-7 {
    flex: none;
    width: 58.33333%; }
  .tile.offset-is-7 {
    margin-left: 58.33333%; }
  .tile.is-8 {
    flex: none;
    width: 66.66667%; }
  .tile.offset-is-8 {
    margin-left: 66.66667%; }
  .tile.is-9 {
    flex: none;
    width: 75%; }
  .tile.offset-is-9 {
    margin-left: 75%; }
  .tile.is-10 {
    flex: none;
    width: 83.33333%; }
  .tile.offset-is-10 {
    margin-left: 83.33333%; }
  .tile.is-11 {
    flex: none;
    width: 91.66667%; }
  .tile.offset-is-11 {
    margin-left: 91.66667%; }
  .tile.is-12 {
    flex: none;
    width: 100%; }
  .tile.offset-is-12 {
    margin-left: 100%; }
  @media screen and (max-width: 1024px) and (orientation: landscape) {
    .tile {
      flex: 1 0 25%; }
      .tile.is-1 {
        flex: 1 1 0;
        width: auto; }
      .tile.is-2 {
        flex: 1 1 0;
        width: auto; }
      .tile.is-3 {
        flex: 1 1 0;
        width: auto; }
      .tile.is-4 {
        flex: 1 1 0;
        width: auto; }
      .tile.is-5 {
        flex: 1 1 0;
        width: auto; }
      .tile.is-6 {
        width: 50%; }
      .tile.is-7 {
        width: 58.33333%; }
      .tile.is-8 {
        width: 66.66667%; }
      .tile.is-9 {
        width: 75%; }
      .tile.is-10 {
        width: 83.33333%; }
      .tile.is-11 {
        width: 91.66667%; }
      .tile.is-12 {
        width: 100%; } }
  @media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
    .tile {
      flex: 1 0 50%; }
      .tile.is-1 {
        flex: 1 0 50%; }
      .tile.is-2 {
        flex: 1 0 50%; }
      .tile.is-3 {
        flex: 1 0 50%; }
      .tile.is-4 {
        flex: 1 0 50%; }
      .tile.is-5 {
        flex: 1 0 50%; }
      .tile.is-6 {
        flex: 1 0 50%; }
      .tile.is-7 {
        flex: 1 0 100%; }
      .tile.is-8 {
        flex: 1 0 100%; }
      .tile.is-9 {
        flex: 1 0 100%; }
      .tile.is-10 {
        flex: 1 0 100%; }
      .tile.is-11 {
        flex: 1 0 100%; }
      .tile.is-12 {
        flex: 1 0 100%; } }
  @media screen and (max-width: 768px) {
    .tile {
      flex: 1 0 100%; }
      .tile.is-1 {
        flex: none;
        width: 100%; }
      .tile.is-2 {
        flex: none;
        width: 100%; }
      .tile.is-3 {
        flex: none;
        width: 100%; }
      .tile.is-4 {
        flex: none;
        width: 100%; }
      .tile.is-5 {
        flex: none;
        width: 100%; }
      .tile.is-6 {
        flex: none;
        width: 100%; }
      .tile.is-7 {
        flex: none;
        width: 100%; }
      .tile.is-8 {
        flex: none;
        width: 100%; }
      .tile.is-9 {
        flex: none;
        width: 100%; }
      .tile.is-10 {
        flex: none;
        width: 100%; }
      .tile.is-11 {
        flex: none;
        width: 100%; }
      .tile.is-12 {
        flex: none;
        width: 100%; } }

.box {
  margin: 0 auto;
  display: inherit; }
  @media screen and (min-width: 1366px) {
    .box {
      width: 1240px; } }
  @media screen and (min-width: 1280px) and (max-width: 1365px) {
    .box {
      width: 1154px; } }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .box {
      width: 1054px;
      padding-left: 0.75em;
      padding-right: 0.75em; } }
  @media screen and (max-width: 1024px) and (orientation: landscape) {
    .box {
      width: 898px;
      padding-left: 0.75em;
      padding-right: 0.75em; } }
  @media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
    .box {
      width: 768px; } }
  @media screen and (max-width: 900px) {
    .box {
      width: 774px; } }
  @media screen and (max-width: 768px) {
    .box {
      width: 100%;
      padding: 0 0.75em; } }
  .box.is-fluid {
    width: 100%;
    padding: 0 0.75em; }
  .box.is-fullscreen {
    height: 100vh; }
  .box.is-halfscreen {
    height: 50vh; }
    @media screen and (max-width: 768px) {
      .box.is-halfscreen {
        display: none; } }
  .box.is-content {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll; }

.navbar > .is-fullscreen {
  height: calc(100vh - 5rem); }
.navbar > .is-halfscreen {
  height: 50vh; }

.navbar {
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  z-index: 10;
  align-items: center; }
  .navbar.is-active > .is-navbar-toggle {
    transform: rotate(0deg);
    transition: transform 0.3s ease; }
  .navbar .is-navbar-toggle {
    width: 40px;
    height: 40px;
    border-radius: 0;
    transform: rotate(45deg);
    float: right;
    align-self: center;
    transition: transform 0.3s ease; }
    .navbar .is-navbar-toggle:focus, .navbar .is-navbar-toggle:hover {
      background-color: rgba(255, 255, 255, 0.125); }
  .navbar-holder.is-menu {
    display: block;
    font-weight: lighter;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.125);
    border: thin solid white;
    border-right: 0;
    border-radius: 0.325em;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }
    .navbar-holder.is-menu .item a {
      display: inline-block;
      padding: 0.5rem 2rem;
      text-align: right; }
      .navbar-holder.is-menu .item a:focus, .navbar-holder.is-menu .item a:hover {
        background-color: rgba(255, 255, 255, 0.125); }
      @media screen and (max-width: 768px) {
        .navbar-holder.is-menu .item a {
          padding: 0.5rem 0.5rem; } }

.panel {
  background-color: rgba(255, 255, 255, 0.125);
  border: thin solid white;
  border-radius: 0.325em;
  padding: 0.75em; }

.form .group {
  margin-bottom: 2rem; }
  .form .group:last-of-type {
    margin-bottom: 0; }
  .form .group legend,
  .form .group label,
  .form .group input,
  .form .group select,
  .form .group textarea,
  .form .group button,
  .form .group .button {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .form .group input,
  .form .group select,
  .form .group textarea {
    border: 0;
    border-bottom: 0.0125rem solid #22313F;
    background: transparent; }
  .form .group button,
  .form .group .button {
    float: right; }

.ripple {
  padding: 0.75rem;
  width: 8rem;
  display: block;
  border-width: thin;
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.125);
  cursor: pointer;
  background-position: 0px 20px;
  overflow: hidden;
  transition: all 0.2s ease;
  z-index: 0;
  text-align: center;
  position: relative; }
  .ripple:focus, .ripple:hover {
    outline: none; }
  .ripple.is-primary {
    background: rgba(129, 169, 96, 0.125);
    border-color: #81a960;
    font-weight: lighter;
    color: white; }
    .ripple.is-primary:focus, .ripple.is-primary:hover {
      box-shadow: 0 0.12rem 0.12rem 0 rgba(0, 0, 0, 0.125); }
  .ripple.is-ghost {
    background: rgba(255, 255, 255, 0.125);
    border-color: white;
    font-weight: lighter;
    color: white; }
    .ripple.is-ghost:focus, .ripple.is-ghost:hover {
      box-shadow: 0 0.12rem 0.12rem 0 rgba(0, 0, 0, 0.125); }

.rippling {
  display: block;
  position: absolute;
  transform: scale(0);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.225) 50%, rgba(255, 255, 255, 0.225) 50%, rgba(255, 255, 255, 0.225) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.225)), linear-gradient(-45deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.225) 50%, rgba(255, 255, 255, 0.225) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0)); }
  .rippling.animate {
    animation: ripple 0.65s linear; }

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }
[hidden],
.hidden {
  display: none; }

@media screen and (max-width: 768px) {
  .hidden-in-mobile {
    display: none; } }

.element.is-centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block; }
  .element.is-centered._absolute {
    position: absolute; }
  .element.is-centered._relative {
    position: relative;
    text-align: center; }

[data-toggle='dropdown'] {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.fade-enter-active, .fade-leave-active {
  transition: all 0.3s; }
.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateX(20px); }

.canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

body {
  height: 100vh;
  background: linear-gradient(to bottom, #a5bf90 0%, #feebac 100%) no-repeat; }

.text.is-white {
  color: white; }
.text.is-lighter {
  font-weight: lighter; }
.text.is-huge {
  font-size: 56px; }
.text.is-big {
  font-size: 28px; }

.elevation._default {
  box-shadow: 0 0.12rem 0.12rem 0 rgba(0, 0, 0, 0.125); }
.elevation._none {
  box-shadow: none !important; }

.break.is-1 {
  display: block;
  height: 1rem; }
.break.is-2 {
  display: block;
  height: 2rem; }
.break.is-3 {
  display: block;
  height: 3rem; }
.break.is-4 {
  display: block;
  height: 4rem; }
.break.is-5 {
  display: block;
  height: 5rem; }
.break.is-6 {
  display: block;
  height: 6rem; }

/*# sourceMappingURL=andrutap.css.map */
