/* You can add global styles to this file, and also import other style files */
*,
*:after,
*:before {
  box-sizing: border-box; }

body,
html {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.2; }

a {
  color: inherit;
  text-decoration: none; }

img {
  border-style: none; }

button,
[type='button'] {
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer; }

input,
select,
textarea {
  height: 2rem;
  padding-left: 0.5em;
  width: 100%; }
  input:focus,
  select:focus,
  textarea:focus {
    outline: none; }

.column,
.row {
  display: flex;
  flex-wrap: wrap; }

.column {
  flex-direction: column; }

.row {
  flex-direction: row; }
  .row.is-reverse {
    flex-direction: row-reverse; }
  .row.tiles.bordered .tile {
    border: thin solid;
    margin: 0.075rem; }

.tile {
  flex: 1 1 0;
  display: block;
  padding: 0.75rem; }
  .tile.is-1 {
    flex: none;
    width: 8.33333%; }
  .tile.offset-is-1 {
    margin-left: 8.33333%; }
  .tile.is-2 {
    flex: none;
    width: 16.66667%; }
  .tile.offset-is-2 {
    margin-left: 16.66667%; }
  .tile.is-3 {
    flex: none;
    width: 25%; }
  .tile.offset-is-3 {
    margin-left: 25%; }
  .tile.is-4 {
    flex: none;
    width: 33.33333%; }
  .tile.offset-is-4 {
    margin-left: 33.33333%; }
  .tile.is-5 {
    flex: none;
    width: 41.66667%; }
  .tile.offset-is-5 {
    margin-left: 41.66667%; }
  .tile.is-6 {
    flex: none;
    width: 50%; }
  .tile.offset-is-6 {
    margin-left: 50%; }
  .tile.is-7 {
    flex: none;
    width: 58.33333%; }
  .tile.offset-is-7 {
    margin-left: 58.33333%; }
  .tile.is-8 {
    flex: none;
    width: 66.66667%; }
  .tile.offset-is-8 {
    margin-left: 66.66667%; }
  .tile.is-9 {
    flex: none;
    width: 75%; }
  .tile.offset-is-9 {
    margin-left: 75%; }
  .tile.is-10 {
    flex: none;
    width: 83.33333%; }
  .tile.offset-is-10 {
    margin-left: 83.33333%; }
  .tile.is-11 {
    flex: none;
    width: 91.66667%; }
  .tile.offset-is-11 {
    margin-left: 91.66667%; }
  .tile.is-12 {
    flex: none;
    width: 100%; }
  .tile.offset-is-12 {
    margin-left: 100%; }
  @media screen and (max-width: 1024px) and (orientation: landscape) {
    .tile {
      flex: 1 0 25%; }
      .tile.is-1 {
        flex: 1 1 0;
        width: auto; }
      .tile.is-2 {
        flex: 1 1 0;
        width: auto; }
      .tile.is-3 {
        flex: 1 1 0;
        width: auto; }
      .tile.is-4 {
        flex: 1 1 0;
        width: auto; }
      .tile.is-5 {
        flex: 1 1 0;
        width: auto; }
      .tile.is-6 {
        width: 50%; }
      .tile.is-7 {
        width: 58.33333%; }
      .tile.is-8 {
        width: 66.66667%; }
      .tile.is-9 {
        width: 75%; }
      .tile.is-10 {
        width: 83.33333%; }
      .tile.is-11 {
        width: 91.66667%; }
      .tile.is-12 {
        width: 100%; } }
  @media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
    .tile {
      flex: 1 0 50%; }
      .tile.is-1 {
        flex: 1 0 50%; }
      .tile.is-2 {
        flex: 1 0 50%; }
      .tile.is-3 {
        flex: 1 0 50%; }
      .tile.is-4 {
        flex: 1 0 50%; }
      .tile.is-5 {
        flex: 1 0 50%; }
      .tile.is-6 {
        flex: 1 0 50%; }
      .tile.is-7 {
        flex: 1 0 100%; }
      .tile.is-8 {
        flex: 1 0 100%; }
      .tile.is-9 {
        flex: 1 0 100%; }
      .tile.is-10 {
        flex: 1 0 100%; }
      .tile.is-11 {
        flex: 1 0 100%; }
      .tile.is-12 {
        flex: 1 0 100%; } }
  @media screen and (max-width: 768px) {
    .tile {
      flex: 1 0 100%; }
      .tile.is-1 {
        flex: none;
        width: 100%; }
      .tile.is-2 {
        flex: none;
        width: 100%; }
      .tile.is-3 {
        flex: none;
        width: 100%; }
      .tile.is-4 {
        flex: none;
        width: 100%; }
      .tile.is-5 {
        flex: none;
        width: 100%; }
      .tile.is-6 {
        flex: none;
        width: 100%; }
      .tile.is-7 {
        flex: none;
        width: 100%; }
      .tile.is-8 {
        flex: none;
        width: 100%; }
      .tile.is-9 {
        flex: none;
        width: 100%; }
      .tile.is-10 {
        flex: none;
        width: 100%; }
      .tile.is-11 {
        flex: none;
        width: 100%; }
      .tile.is-12 {
        flex: none;
        width: 100%; } }

.box {
  margin: 0 auto;
  display: inherit; }
  @media screen and (min-width: 1366px) {
    .box {
      width: 1240px; } }
  @media screen and (min-width: 1280px) and (max-width: 1365px) {
    .box {
      width: 1154px; } }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .box {
      width: 1054px;
      padding-left: 0.75em;
      padding-right: 0.75em; } }
  @media screen and (max-width: 1024px) and (orientation: landscape) {
    .box {
      width: 898px;
      padding-left: 0.75em;
      padding-right: 0.75em; } }
  @media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
    .box {
      width: 768px; } }
  @media screen and (max-width: 900px) {
    .box {
      width: 774px; } }
  @media screen and (max-width: 768px) {
    .box {
      width: 100%;
      padding: 0 0.75em; } }
  .box.is-fluid {
    width: 100%;
    padding: 0 0.75em; }
  .box.is-fullscreen {
    height: 100vh; }
  .box.is-halfscreen {
    height: 50vh; }
    @media screen and (max-width: 768px) {
      .box.is-halfscreen {
        display: none; } }
  .box.is-content {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll; }

.navbar > .is-fullscreen {
  height: calc(100vh - 5rem); }
.navbar > .is-halfscreen {
  height: 50vh; }

.navbar {
  height: 5rem;
  display: flex;
  justify-content: flex-end; }
  .navbar.is-active > .is-menu {
    opacity: 1;
    transition: opacity 0.3s ease; }
    .navbar.is-active > .is-menu .item {
      height: 37.8px;
      transition: height 0.3s ease; }
  .navbar .is-navbar-toggle {
    width: 40px;
    height: 40px;
    border-radius: 0;
    transform: rotate(45deg);
    float: right;
    align-self: center; }
  .navbar.is-menu {
    display: block;
    position: absolute;
    top: 5rem;
    font-weight: lighter;
    color: white;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease; }
    .navbar.is-menu .item {
      display: block;
      padding: 0.75rem 2rem;
      text-align: right;
      height: 0;
      transition: height 0.3s ease; }

.panel {
  background-color: white;
  border-radius: 0.325em;
  padding: 0.75em; }

.form .hidden-legend {
  position: relative;
  z-index: -1;
  top: 20px;
  transition: all 0.1s ease-out; }
  .form .hidden-legend.is-active {
    z-index: -1;
    position: relative;
    top: 0px;
    transition: all 0.1s ease-out; }

.ripple {
  padding: 0.75rem;
  width: 8rem;
  display: block;
  border: thin solid rgba(255, 255, 255, 0.425);
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.125);
  color: white;
  cursor: pointer;
  background-position: 0px 20px;
  overflow: hidden;
  transition: all 0.2s ease;
  z-index: 0;
  text-align: center;
  position: absolute; }
  .ripple:focus, .ripple:hover {
    background-color: rgba(255, 255, 255, 0.425);
    background-size: 60px 20px;
    outline: none; }

.rippling {
  display: block;
  position: absolute;
  transform: scale(0);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.225) 50%, rgba(255, 255, 255, 0.225) 50%, rgba(255, 255, 255, 0.225) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.225)), linear-gradient(-45deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.225) 50%, rgba(255, 255, 255, 0.225) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0)); }
  .rippling.animate {
    animation: ripple 0.65s linear; }

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }
[hidden],
.hidden {
  display: none; }

@media screen and (max-width: 768px) {
  .hidden-in-mobile {
    display: none; } }

.element.is-centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block; }
  .element.is-centered._absolute {
    position: absolute; }
  .element.is-centered._relative {
    position: relative;
    text-align: center; }

[data-toggle='dropdown'] {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

@keyframes fun {
  0% {
    box-shadow: 0rem -6rem 0 0.005rem #ffd1b3, 5.19615rem -3rem 0 0.01rem #c2ffb3, 5.19615rem 3rem 0 0.01rem #b3ffbf, 0rem 6rem 0 0.015rem #e4b3ff, -5.19615rem 3rem 0 0.0075rem #ffb3e9, -5.19615rem -3rem 0 0.0075rem #ffb3e7; }
  55% {
    box-shadow: 0rem -6rem 0 0.0625rem #e7ffb3, 5.19615rem -3rem 0 0.0625rem #b3ffd9, 5.19615rem 3rem 0 0.0125rem #b3ffe4, 0rem 6rem 0 0.0375rem #b3f5ff, -5.19615rem 3rem 0 0.075rem #edb3ff, -5.19615rem -3rem 0 0.025rem #ffcdb3; }
  100% {
    box-shadow: 0rem -6rem 0 0.015rem #d6ffb3, 5.19615rem -3rem 0 0.0125rem #edffb3, 5.19615rem 3rem 0 0.0125rem #b3fbff, 0rem 6rem 0 0.0025rem #c4b3ff, -5.19615rem 3rem 0 0.0075rem #fcb3ff, -5.19615rem -3rem 0 0.01rem #ffb3f1; } }
.canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

body {
  height: 100vh;
  background: linear-gradient(to bottom, #a5bf90 0%, #feebac 100%) no-repeat; }

.text.is-white {
  color: white; }
.text.is-lighter {
  font-weight: lighter; }
.text.is-huge {
  font-size: 56px; }

.elevation._default {
  box-shadow: 0 0.12rem 0.12rem 0 rgba(0, 0, 0, 0.125); }

/*# sourceMappingURL=andrutap.css.map */
