.form
  .group
    margin-bottom: 2rem
    &:last-of-type
      margin-bottom: 0
    legend,
    label,
    input,
    select,
    textarea,
    button,
    .button
      margin:
        top: 1rem
        bottom: 1rem
    input,
    select,
    textarea
      border: 0
      border-bottom: .0125rem solid #22313F
      background: transparent
    button,
    .button
      float: right
